.features {
    position: fixed;
    left:0;
    background-color: rgba(255, 255, 255, 0.3);
    height: 70%;
    width: 100%;
    border-radius: 15px;
}

.features-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 16px;
    min-width: 50px;
    background-image: linear-gradient(to bottom, #002aff, #01c6a2);
    border-radius: 15px;
    color: inherit;
    text-decoration: none;
}