body {
    background-image: linear-gradient(#4f0093, #0e0265);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: arial,ui-monospace;
    color: white;
}

.header0 {
    background-image: linear-gradient(50deg, #bcbcbc, #3d24ff);
    background-clip: text;
    color: transparent;
}
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #5c5c5c;
}
.topbar-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 16px;
    min-width: 50px;
    background-image: linear-gradient(to bottom, #002aff, #01c6a2);
    border: none;
    outline: none;
}

.features {
    position: fixed;
    left:0;
    background-color: rgba(255, 255, 255, 0.3);
    height: 70%;
    width: 100%;
    border-radius: 15px;
}

.features-btw {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 16px;
    min-width: 50px;
    background-image: linear-gradient(to bottom, #002aff, #01c6a2);
    border: none;
    outline: none;
}
