/* From Uiverse.io by neerajbaniwal */
.btn-shine {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 48px;
    color: #fff;
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
}
@-moz-keyframes shine {
    0% {
        background-position: -30px;
    }
    60% {
        background-position: 440px;
    }
    100% {
        background-position: 440px;
    }
}
@-webkit-keyframes shine {
    0% {
        background-position: -30px;
    }
    60% {
        background-position: 440px;
    }
    100% {
        background-position: 440px;
    }
}
@-o-keyframes shine {
    0% {
        background-position: -30px;
    }
    60% {
        background-position: 440px;
    }
    100% {
        background-position: 440px;
    }
}
@keyframes shine {
    0% {
        background-position: -30px;
    }
    60% {
        background-position: 440px;
    }
    100% {
        background-position: 440px;
    }
}
