.files {
    position: fixed;
    left:0;
    background-color: rgba(255, 255, 255, 0.3);
    height: 70%;
    width: 100%;
    border-radius: 15px;
}
.files_file {
    position: relative;
    width: 10px;
    height: 10px;
    top: 10px;
    left: 10px;
}